<div class="site-wrapper">
  <div class="container">
      <div class="site-logo-container flex-center">
        <img class="site-logo" src="../assets/images/remaiplius-logo.png">
      </div>
  </div>
  <div class="row navigation-menu-bar">
      <div class="flex-center">
          <button mat-button class="navigation-menu-button">Apie Mus</button>
          <button mat-button class="navigation-menu-button">Akcijos</button>
          <button mat-button class="navigation-menu-button">Produkcija</button>
          <button mat-button class="navigation-menu-button">Kontaktai</button>
        </div>
  </div>
  <div class="container content-container">
    <div class="row">
      <div class="col-12">
        <mat-card>
          <mat-card-title> Etiam a eros congue</mat-card-title>
          <mat-card-content>
            <mat-divider></mat-divider>
            <div class="row">
                <div class="col-6">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque metus eros, sodales eu nunc a, euismod eleifend elit. Nunc porttitor venenatis tempus. Sed aliquet massa velit, sed luctus arcu dapibus in. Aenean id nisi porttitor, bibendum justo in, viverra nibh. 
                    </p>
                </div>
                <div class="col-6">
                    <figure class="no-margin">
                      <img src="https://images.pexels.com/photos/1252983/pexels-photo-1252983.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                    </figure>
                </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
      <div class="row medium-margin-vertical">
        <div class="col-4">
          <mat-card>
            <img mat-card-image src="https://images.pexels.com/photos/1456310/pexels-photo-1456310.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
            <mat-card-content>
              <h4>Reminimas</h4>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-4">
          <mat-card>
            <img mat-card-image src="https://images.pexels.com/photos/730803/pexels-photo-730803.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
            <mat-card-content>
              <h4>Didelis pasirinkimas</h4>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-4">
          <mat-card>
            <img mat-card-image src="https://images.pexels.com/photos/1252983/pexels-photo-1252983.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
            <mat-card-content>
              <h4>Patikimi meistrai</h4>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
          <span class="copyright-text">Developed by some professional people</span>
      </div>
    </div>
  </div>
</footer>