.site-wrapper{

}

.site-wrapper::before{
    height: 100%;
    width: 100%;
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background: url("../assets/images/white-bg-dots.jpg");
    background-size: cover;

}

footer{
    padding: 10px;
    background: rgba(43, 64, 130, 0.85);
}


.site-logo-container{
    
}

.site-logo{
    width: 30%;
    height: auto;
}

.navigation-menu-bar{
    background: rgb(43, 64, 130);
    padding-top: 10px;
    padding-bottom: 15px;
}

.content-container{
    margin-top: 40px;
    
}

/deep/ .navigation-menu-button span{
    color: #fafafa;
    font-weight: 700;
    font-size: larger;
}
